<app-navbar></app-navbar>

<div class="project-management-content">

  <div class="content-container" cdkDropListGroup>
    <!-- Lista de Projects -->
    <div class="project-boards-container">
      <div *ngIf="currentUserEmail">
        <p class="welcome-message">
          ¡Bienvenido, <strong>{{ userName }}</strong
          >!
        </p>
      </div>
      <div *ngIf="!currentUserEmail">
        <p class="welcome-message"><strong>No user logged in.</strong></p>
      </div>
      <div class="project-title-cont">
        <h3>Tus proyectos</h3>

        <button (click)="openAddProjectForm()" class="add-project-btn">
          + Agregar proyecto
        </button>

        <div *ngIf="isAddProjectFormVisible" class="modal-overlay">
          <div class="modal-content">
            <button (click)="closeAddProjectForm()" class="close-button">
              X
            </button>
            <app-add-project-form></app-add-project-form>
          </div>
        </div>
      </div>
      <div class="project-container">
        <ng-container *ngIf="projects.length > 0; else noProjects">
          <div *ngFor="let project of projects">
            <app-project-board [project]="project"></app-project-board>
          </div>
        </ng-container>
        <ng-template #noProjects>
          <p>No projects available.</p>
        </ng-template>
      </div>
    </div>

    <!-- Lista de Bills (Con arrastre habilitado) -->
    <div
      class="bill-cards-container"
      cdkDropList
      id="billsList"
      (cdkDropListDropped)="dropBill($event)"
      [cdkDropListData]="bills"
      [cdkDropListConnectedTo]="['projectList']"
    >
      <h3>Tus facturas</h3>
      <ng-container *ngIf="bills.length > 0; else noBills">
        <app-bill-card
          *ngFor="let bill of bills"
          [bill]="bill"
          cdkDrag
          [cdkDragData]="bill"
          (billDeleted)="onBillDeleted($event)"
        ></app-bill-card>
      </ng-container>
      <ng-template #noBills>
        <p>No bills available.</p>
      </ng-template>
    </div>
  </div>
</div>
