.project-management-content {
  width: 100%;
  height: 100vh;
  padding-left: 150px;
  border: 2px solid black;
  color: #47484a;
  overflow: hidden;
}

.welcome-message-cont{
  height: 10%;
}
.welcome-message {
  font-size: 32px;
}
/* Modal Overlay */
.modal-overlay {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Content */
.modal-content {
  background-color: #fffbf8;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  position: relative;
}

/* Close Button */
.close-button {
  color: #aaa;
  position: absolute;
  top: 10px; /* Adjust position as needed */
  right: 10px; /* Adjust position as needed */
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.project-title-cont {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.add-project-btn {
  padding: 10px 30px;
  border: none;
  border-radius: 100px;
  background-color: #e85d56;
  color: #fffbf8;
}
.add-project-btn:hover{
  background-color: #47484a;
  color: #e85d56;
  cursor: pointer;
  transition: all 0.2s;
}

.close-button{
  padding: 10px 10px;
}
.close-button:hover{
  color: #e85d56;
}

.project-boards-container {
  width: 75%;
  height: 100vh;
  border: 2px solid black;
}

.project-container {
  border: 2px solid black;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 150px;
}

.bill-cards-container {
  border: 2px solid rgb(203, 140, 140);
  width: 25%;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 20px;
}

.project-boards-container,
.bill-cards-container {
  height: 100vh;
}

/* Evita el scroll cuando se mueve un item */
.cdk-drag-preview,
.cdk-drag-animating {
  overflow: hidden;
}
