<app-navbar></app-navbar>

<div class="circle1"></div>
<div class="circle2"></div>

<div class="professional-itineraries-content">
  <div class="content-container container-fluid">
    <h1 class="mb-4">Itinerario Profesional</h1>

    <div class="chart-form-cont row justify-content-center">
      <div class="itineraries-chart-container col-md-6 col-sm-12">
        <div class="itineraries-select-cont">
          <label for="itinerarySelect" class="form-label"
            >Selecciona un perfil:</label
          >
          <select
            id="itinerarySelect"
            class="form-select"
            (change)="onItineraryChange($event)"
            *ngIf="itineraries.length > 0"
          >
            <option value="" disabled selected>Selecciona un itinerario</option>
            <option
              *ngFor="let itinerary of itineraries"
              [value]="itinerary.id"
            >
              {{ itinerary.id }}
            </option>
          </select>
        </div>

        <div id="chart"></div>

        <div *ngIf="loadingData" class="text-muted">Cargando datos...</div>
        <div
          *ngIf="itineraries.length === 0 && !loadingData"
          class="text-muted"
        >
          No hay itinerarios disponibles.
        </div>
        <div class="itinerarie-chart-legend">
          <div class="legend1">
            <div class="legend1-color"></div>
            <p>Tus niveles</p>
          </div>
          <div class="legend2">
            <div class="legend2-color"></div>
            <p>Itinerario Seleccionado</p>
          </div>
        </div>
      </div>

      <div class="user-technologies-cont col-md-4 col-sm-12">
        <h4>Ajustar niveles de tecnología</h4>

        <form (submit)="saveUserTechnologies()">
          <div *ngFor="let tech of getUserTechnologiesToDisplay()">
            <label>{{ tech.id }}</label>
            <input
              type="range"
              min="0"
              max="100"
              [(ngModel)]="tech.level"
              name="{{ tech.id }}"
            />
            <span>{{ tech.level }}%</span>
          </div>
          <button type="submit">Guardar niveles</button>
        </form>
      </div>
    </div>
  </div>
</div>
