<div class="project-board-container">
  <div *ngIf="project; else noProject">
    <h3>{{ project.name }}</h3>
    <p>Technologies:</p>
    <div class="technologies-grid">  <div *ngFor="let tech of availableTechnologies" class="technology-item">
        <label for="{{tech.name}}">
          <img [src]="tech.image" alt="{{tech.name}}" class="technology-image">
          <span>{{ tech.name }}</span>
        </label>
      </div>
    </div>
    <div class="project-list-cont">
      </div>
  </div>
  <ng-template #noProject>
    <p>No project data available.</p>
  </ng-template>
</div>