.project-board-container {
  width: 350px;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: white;
  color: #333;
}

.project-board-container h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.project-board-container h5{
  margin-top: 15px;
}
.project-list-cont {
  border-radius: 10px;
  min-height: 50px;
  width: 100%;
  height: 250px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 10px;
  background: #f5f2ed;

}
.technologies-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  height: 140px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border: 1px dashed #47484a;
  border-radius: 10px;
  padding: 10px;
  justify-content: space-around;
}
.technologies-grid img {
  height: 40px;
}

/* Evita el scroll cuando se mueve un item */
.cdk-drag-preview,
.cdk-drag-animating {
  overflow: hidden;
}

.technology-item label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  padding: 5px;
  border-radius: 10px;
  background: #cfc6b5;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crossCont{
  width: 100%;
  height: 20px;
  display: flex;
  justify-content:end;
  align-items: center;
  font-size: 24px;
  margin-bottom: 10px
}

.crossCont p:hover{
  color: #e23939;
  scale: 1.1;
  cursor: pointer;
  transition: all 0.2s;
}