<div class="project-board-container">
  <div *ngIf="project; else noProject">
    <div class="header-container">
      <h3>{{ project.name }}</h3>
      <div class="crossCont" (click)="deleteProject()"><p>X</p></div>
    </div>

    <h5>Tecnologías:</h5>
    <div class="technologies-grid">
      <div *ngFor="let tech of project.technologies" class="technology-item">
        <label for="{{ tech }}">
          <img
            [src]="getTechnologyImage(tech)"
            alt="{{ tech }}"
            class="technology-image"
          />
          <span>{{ tech }}</span>
        </label>
      </div>
    </div>


    <h5>Facturas:</h5>
    <div
      class="project-list-cont"
      cdkDropList
      (cdkDropListDropped)="onBillDroppedToProject($event)"
      [cdkDropListData]="project.bills"
      [cdkDropListConnectedTo]="['billsList']"
    >
      <ng-container *ngIf="project.bills && project.bills.length > 0; else noBills">
        <div *ngFor="let bill of project.bills">
          <app-bill-card [bill]="bill" cdkDrag></app-bill-card>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-template #noBills>
    <p>No hay facturas en este proyecto.</p>
  </ng-template>

  <ng-template #noProject>
    <p>No project data available.</p>
  </ng-template>
</div>