<div class="add-project-form-container">
  <h2>Añade un nuevo proyecto</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="projectName">Nombre del proyecto:</label>
      <input
        type="text"
        id="projectName"
        name="projectName"
        [(ngModel)]="projectName"
        required
      />
    </div>

    <div class="form-group form-group-technologies">
      <label>Tecnologías:</label>
      <div class="technologies-grid">
        <div
          *ngFor="let tech of availableTechnologies"
          class="technology-item"
          [class.selected]="isSelected(tech.name)"
          (click)="toggleTechnology(tech.name)"
        >
          <img
            [src]="tech.image"
            alt="{{ tech.name }}"
            class="technology-image"
          />
          <span>{{ tech.name }}</span>
        </div>
      </div>
    </div>
    <div class="error-container">
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>
    </div>
    <button type="submit" class="submit-button">Guardar proyecto</button>
  </form>
</div>
